.DS_Store
.env

# hide the files used when testing
export.csv
export.sql
games.db
GameList.md
gamenames.txt

# file for epic games export of games
epicgames.txt

# hide files within logs dir
logs/

# hide aux files from latex docs
/docs/LaTeX/*.synctex.gz
